@import '../styles/mixins/mixins.scss';
@import '../styles/variables/variables.scss';

.button-container {
  @include buttonContainerStyles();
    button {
      @include buyButtons();
    }

    input[type='number'] {
      width: 50px;
      text-align: center;
      padding: 5px;
      border: 1px solid #ddd;
      border-radius: 5px;
    }

  .icon {
    font-size: 1.1rem;
    color: $grey;
  }
}

.message {
  text-align: center;
  font-size: 0.75rem;
  color: $bloodRed;
}