@import '../styles/variables/variables.scss';
@import '../styles/mixins/mixins.scss';

footer {
  height: 50px;
  display: flex;
  justify-content: center;
  background-color: $fadedBlack;
  color: rgb(255, 255, 255);
  align-items: center;
}