@import '../styles/variables/variables.scss';
@import '../styles/mixins/mixins.scss';

.homepage {
    box-sizing: border-box;
    height: calc(100vh - 60px);
    max-width: 1500px;
    display: flex;
    gap: 1em;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
  
    .title {
      font-size: 2em;
      font-weight: 700;
      margin-bottom: 0.5em;
    }
  
    .hero {
      display: flex;
      justify-content: space-between;
      align-items: center;
      max-width: 800px;
    }


    .logo {
      flex: 1;
      margin-right: 20px;
    }

    .description {
      flex: 2;
    }
    
    .border {
      border: 3px solid $fadedBlack;
      padding: 2em;
    }
}