@import '../styles/variables/variables.scss';
@import '../styles/mixins/mixins.scss';

.homepage {
    box-sizing: border-box;
    height: calc(100vh - #{$navbarHeight} - #{$footerHeight});
    display: flex;
    gap: 1em;
    padding: 1.5em;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
  
    .title {
      font-size: 2em;
      font-weight: 700;
      margin-bottom: 0.5em;
      max-width: 800px;
      text-align: center;
    }
  
    .hero {
      display: flex;
      justify-content: space-between;
      align-items: center;
      max-width: 800px;
    }

    @keyframes fadeInDrop {
      0% {
        opacity: 0;
        transform: translateY(-50px);
      }

      50% {
        opacity: 0.5;
        transform: translateY(-25px);
      }

      100% {
        opacity: 1;
        transform: translateY(0);
      }
    }

    .hero-content > * {
      animation: fadeInDrop 1s ease-in-out;
    }

    .logo {
      flex: 1;
      margin-right: 20px;
    }

    .description {
      flex: 2;
    }

    .hero-content {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
    }

    .shop-button {
      @include bloodRedButton;
    }
}