@import './mixins/mixins.scss';
@import './variables/variables.scss';

:root {
  @include defaultMain;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
  height: 100%;
  background-color: $offWhite;
  font-family: $montserrat;
}
