@import './mixins/mixins.scss';
@import './variables/variables.scss';

:root {
  @include defaultMain;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
  height: 100%;
}

.html {
  font-family: $montserrat;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: $fadedWhite;
}

@media only screen and (min-width: 300px) and (max-width: 696px) {
  .navbar {
    width: calc(100% - $navbarPaddingLeftRight * 2);

    a {
      font-size: 1rem;
    }
  }

  .product-page {
    .product-page__title {
      width: calc(100% - $navbarPaddingLeftRight - 1em * 2);
    }
  
    .product-image {
      max-width: 300px;
    }
  }

  .homepage {
    flex-direction: row;
    flex:1;
    height: 100%;
    gap: 0;

    .description-content {
      z-index: 1000;
    }

    .homepage__title {
      font-size: 1.5rem;
    }

    .hero {
      .hero-content {
        flex-direction: column;
        align-items: flex-start;

        img {
          width: 100%;
          max-width: 300px;
          margin-bottom: 20px;
        }
      }
    }
  }

  .product-detail {
    flex-direction: column;
    height: auto;
    margin-bottom: 1em;
    .product-detail__image {
      width: 100%;
      max-width: 300px;
      margin-bottom: 20px;
    }
  }

  .cart-container {
    font-size: 12px;

    .cart {

      .cart-item {
        display: block;
        border-bottom: 1px solid $lightGrey;
        gap: 0;
      }

      .continue-shopping, .checkout {
        padding: 0;
        font-size: 0.8rem;
      }
    }
  }
}
