@import '../styles/mixins/mixins.scss';
@import '../styles/variables/variables.scss';

.navbar {
  width: 100%;
  height: $navbarHeight;
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: $black;
  display: flex;
  justify-content: space-between;
  align-items: center;

  a {
    text-decoration: none;
    color: $white;
  }

  .logo-placeholder {
    margin-left: 11px;
  }

  .navbar-shop {
  }

  .navbar-cart {
    margin-right: 11px;
  }
}