@import '../styles/mixins/mixins.scss';
@import '../styles/variables/variables.scss';

.products {
  background-color: $white;
  margin: 1em;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  max-width: 1500px;
  gap: 1em;
}