@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;800&display=swap');

// Colors
$white: rgb(255, 255, 255);
$offWhite: #e3e6e6;
$black: rgb(12, 12, 12);
$fadedBlack: rgb(51, 50, 50);
$transparentBlack: rgba(20, 20, 20, 0.7);
$grey: rgb(128, 128, 128);
$lightGrey: rgb(230, 230, 230);
$blue: rgb(0, 0, 255);
$bloodRed: rgb(102, 0, 0);
$bloodRedFaded: rgb(108, 27, 27);
$gold: rgb(255, 215, 0);

// Fonts
$montserrat: 'Montserrat Alternates', sans-serif;
$rubik: 'Rubik Doodle Shadow', system-ui;

$navbarHeight: 60px;
$footerHeight: 50px;
