@import '../variables/variables.scss';

@mixin defaultMain() {
  font-family: 'Montserrat Alternates', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #242424;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
}

@mixin buyButtons() {
  display: flex;
  align-self: flex-end;
  display: inline-block;
  background-color: $black;
  color: $white;
  padding: 0.75em 1em;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;

  &:hover {
    background-color: $fadedBlack;
  }
}

@mixin bloodRedButton() {
  align-self: flex-end;
  display: inline-block;
  background-color: $bloodRed;
  color: $white;
  padding: 10px 20px;
  font-size: 20px;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
  
  &:hover {
    background-color: $bloodRedFaded;
    transform: scale(1.05);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  }
}

@mixin buttonContainerStyles() {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  .icon {
    font-size: 1rem;
  }

  input[type='number'] {
    width: 50px;
    text-align: center;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }

  .btn {
    @include btn();
  }

  .message {
    text-align: center;
    font-size: 0.75rem;
    color: $bloodRed;
  }
}

@mixin btn {
  border: none;
  background-color: transparent;
  color: $black;

  &:hover {
    background-color: $white;
  }
}

