@import '../variables/variables.scss';

@mixin defaultMain() {
  font-family: 'Montserrat Alternates', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #242424;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
}

@mixin defaultButton() {
  padding: 5px 10px;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
  cursor: pointer;

  &:hover {
    background-color: #0056b3;
  }
}

@mixin bloodRedButton() {
  align-self: flex-end;
  display: inline-block;
  background-color: $bloodRed;
  color: $white;
  padding: 10px 20px;
  font-size: 20px;
  border-radius: 5px;
  text-decoration: none;
}

@mixin defaultFlexContainer() {
  max-width: 1500px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1em;
}
